<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wei.you.zhihu.spider.dao.IQuestionDao">

	<!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
	<resultMap type="com.wei.you.zhihu.spider.entity.Question"
		id="questionResultMap">
		<id property="id" column="id" />
		<result property="question" column="question" />
		<result property="questionDesc" column="questionDesc" />
		<result property="url" column="url" />
		<result property="author" column="author" />
		<collection property="answers"
			ofType="com.wei.you.zhihu.spider.entity.Answer">
			<id property="id" column="answers.id" />
			<result property="questionId" column="answers.questionId" />
			<result property="author" column="answers.author" />
			<result property="desc" column="answers.desc" />
		</collection>
	</resultMap>

	<sql id="questionColumns">
		q.id,
		q.question,
		q.question_desc as questionDesc,
		q.url,
		q.author
	</sql>

	<sql id="answerColumns">
		r.id AS "answers.id",
		r.question_id AS "answers.questionId",
		r.author AS "answers.author",
		r.desc AS "answers.desc"
	</sql>

	<insert id="save" parameterType="com.wei.you.zhihu.spider.entity.Question">
		insert into
		question(id,question,question_desc,url,author,insert_time)
		values(#{id},#{question},#{questionDesc},#{url},#{author}, now())
	</insert>

	<select id="selectById" resultMap="questionResultMap">
		select
		<include refid="questionColumns" />
		,
		<include refid="answerColumns" />
		from question q JOIN answer r ON q.id = r.question_id where
		q.id =
		#{id}
	</select>

	<update id="updateById" parameterType="com.wei.you.zhihu.spider.entity.Question">
		update question set
		<if test=" null != question and '' != question">
			question = #{question} ,
		</if>
		<if test=" null != question and '' != question">
			question_desc = #{questionDesc} ,
		</if>
		<if test=" null != question and '' != question">
			url = #{url} ,
		</if>
		<if test=" null != question and '' != question">
			author = #{author} ,
		</if>
		insert_time=now()
		where id = #{id}
	</update>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from question where
		id = #{id}
	</delete>

	<select id="queryAll" resultMap="questionResultMap">
		select
		<include refid="questionColumns" />
		,
		<include refid="answerColumns" />
		from question q JOIN answer r ON q.id = r.question_id
		<!-- limit ${start},${size} -->
	</select>

</mapper>  